        body, html {
         overflow: hidden;
         width: 100%;
         height: 100%;
        }
      
        body {
          background-image: url("https://thumb.ac-illust.com/78/7883eb7a5bf8b738b8bac434e63e6259_t.jpeg");
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
          background-size: 100% auto;
          background-position: center;
          background-repeat: repeat-x;
          text-align: center;
          animation: moveBackground 1000s linear infinite;
        }

        @keyframes moveBackground {
          from {
            background-position: 0 0;
          }
          to {
            background-position: 100000px 0;
          }
        }

        .lang {
         position: fixed;
         bottom: 2vh;
         left: 2vw;
         z-index: 10000;
        } 
        
        #lang {
         font-weight: bold; 
         cursor: pointer;  
         width: 6vw;
         height: 4vh;
         font-size: 1vw;
         background-color: #0084fff1;
         border-radius: 999px;
         border: none;
        }

        #lang:hover {
         background-color: #003e79f1;
        }

        [dir="rtl"] .frame {
         text-align: right;
         padding: 0 5vw;
        }

        [dir="rtl"] .text, 
        [dir="rtl"] .choice {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
         word-wrap: break-word;
        }

        [dir="rtl"] .okno {
         right: 50%;
         left: auto;
         transform: translateX(50%);
        }

        #startButton {
         padding: 10px 20px; 
         font-weight: bold; 
         cursor: pointer;  
         width: 25vw;
         height: 12vh;
         font-size: 2vw;
         background-color: #e0e270f1;
         border-radius: 999px;
         border: none;
        }

        .tex {
         display: flex;
         color: rgb(245, 245, 85);
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
         font-size: 3vw;
         margin-bottom: 8vh;
         flex-direction: column;
         justify-content: flex-start;
         height: 15vh;
        }

        .tex-2 {
         color: rgb(245, 245, 245);
         font-size: 2vw;
         margin-bottom: 8vh;
        }

        #startButton:hover {
         background-color: #e0e27083;  
        }     
        
        #boy {
         background: rgb(0, 111, 214);
         width: 25vw;
         height: 12vh;    
         border-radius: 999px;   
         font-size: 2vw;     
         color: white; 
        }

        #girl { 
         background: rgb(255, 107, 107);
         color: rgb(255, 255, 255);
         width: 25vw;
         height: 12vh;  
         border-radius: 999px; 
         font-size: 2vw;          
        }

        h2 {
         font-size: 2vw;
         color: white;
        }

        #boy:hover {
         background-color: rgba(0, 111, 214, 0.548);  
        }    

        #girl:hover {
         background-color: rgba(255, 107, 107, 0.623); 
        }    

        .text {
         color: white;
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
         font-size: 3vw;
         margin-bottom: 8vh;

        }

        .choice {
         color: white;
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
         font-size: 1.5vw;

        }

        .frame {
         display: flex;
         position: relative;
         flex-direction: column;
         justify-content: space-between;
         min-height: 100vh;
        }

        .knopka {

         background: rgb(245, 245, 85);
         width: 20vw;
         height: 30vh;  
         bottom: 5vh;
         margin: 2vw;
         border-radius: 20%; 
         font-size: 1.4vw;  
        }

        .knopka:hover {
         background: rgb(182, 182, 60);;
         cursor: pointer;
        }

        .okno {
          position: absolute;
          bottom: 2vh;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
        }

        #frame-1 { 
            background-image: url(https://foni.papik.pro/uploads/posts/2024-10/foni-papik-pro-aj05-p-kartinki-nochnoe-nebo-na-prozrachnom-fone-12.png); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-2 { 
            background-image: url(https://cdn.pixabay.com/photo/2024/09/09/11/09/fall-9034528_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-3 { 
            background-image: url(https://cdn.pixabay.com/photo/2024/09/09/11/09/fall-9034528_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-4 { 
            width: 100vw;
            height: 100vh;
            background-image: url(https://cdn.pixabay.com/photo/2024/03/02/12/02/ai-generated-8608464_1280.jpg); 
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-5 { 
            background-image: url(https://cdn.pixabay.com/photo/2023/02/01/08/01/fairytale-forest-7759927_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-6 { 
            background-image: url(https://cdn.pixabay.com/photo/2021/08/18/07/45/castle-6554907_960_720.jpg);
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-7 { 
            background-image: url('assets/images/castle_gate.png.png'); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-8-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/01/24/09/02/ai-generated-8529089_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-9-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2023/06/14/18/22/ai-generated-8063802_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-10-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/01/13/19/14/ai-generated-8506431_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-11-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/05/07/06/13/ai-generated-8744900_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-12-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/05/07/06/13/ai-generated-8744900_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-13-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: repeat;
            background-position: center;
            margin: 0;
        }

        #frame-14-strength { 
            background-color: #000000;
            background-image: url(https://cdn.pixabay.com/photo/2024/06/21/04/17/ai-generated-8843438_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-15-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-8-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/03/05/05/24/ai-generated-8613746_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-9-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/05/12/18/34/ai-generated-8757463_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-10-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/07/03/14/52/tunnel-8870193_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-11-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-12-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-13-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-14-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-15-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-win {
            background-image: url(https://cdn.pixabay.com/photo/2024/09/02/11/03/ai-generated-9016484_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-win-2 {
            background-image: url(https://cdn.pixabay.com/photo/2024/04/03/08/04/tree-8672380_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-gameover-1 {
            background-image: url(https://cdn.pixabay.com/photo/2018/05/17/11/20/end-3408301_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-gameover-2 {
            background-image: url(https://images.unsplash.com/photo-1563824460668-8d28331a877f?q=80&w=1937&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }      
        
        #frame-gameover-3 {
            background-image: url(https://cdn.pixabay.com/photo/2016/03/25/13/21/blue-1278829_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        } 

        #preloader {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #1e1e1e;
         display: flex;
         justify-content: center;
         align-items: center;
         z-index: 9999;
        }

       .loader {
         border: 8px solid #f3f3f3;
         border-top: 8px solid #3498db;
         border-radius: 50%;
         width: 80px;
         height: 80px;
         animation: spin 1s linear infinite;
        }

       @keyframes spin {
         0% { transform: rotate(0deg); }
         100% { transform: rotate(360deg); }
        }

        .lang-knopka {
         font-weight: bold; 
         cursor: pointer;  
         width: 4vw;
         height: 3vh;
         font-size: 0.7vw;
         background-color: #2997fff1;
         border-radius: 999px;
         border: none;
         margin-bottom: 0.6vw;
         margin-top: 0.6vh;
        }

        .lang-knopka:hover {
         background-color: #195e9ef1;
        }
        
        .cont {
         background: rgb(100, 200, 100);
         width: 20vw;
         height: 10vh;
         bottom: 5vh;
         margin: 2vw;
         border-radius: 20px;
         font-size: 1.4vw;
         color: white;
        }

        .cont:hover {
            background-color: rgb(57, 119, 57);;
        }

        #titri {
         background-image: url(https://cdn.pixabay.com/photo/2020/12/23/14/41/forest-5855196_1280.jpg);
         width: 100vw;
         height: 100vh;
         background-size: 100% 100%;
         background-repeat: no-repeat;
         background-position: center;
         margin: 0;
         display: flex;
         position: relative;
         flex-direction: column;
         justify-content: space-between;
         min-height: 100vh;
         font-size: 1vw;   
        }

        .titri {
         color: aliceblue;
         text-shadow: 3px 3px 5px rgba(0, 0, 0, 2);
        }

        .spacer {
         height: 30%;
        }