        body, html {
         overflow: hidden;
         width: 100%;
         height: 100%;
        }
      
        body {
          background-image: url("https://thumb.ac-illust.com/78/7883eb7a5bf8b738b8bac434e63e6259_t.jpeg");
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
          background-size: 100% auto;
          background-position: center;
          background-repeat: repeat-x;
          text-align: center;
          animation: moveBackground 1000s linear infinite;
        }

        @keyframes moveBackground {
          from {
            background-position: 0 0;
          }
          to {
            background-position: 100000px 0;
          }
        }

        .lang {
         position: fixed;
         bottom: 2vh;
         left: 2vw;
         z-index: 10000;
        } 
        
        #lang {
         font-weight: bold; 
         cursor: pointer;  
         width: 6vw;
         height: 4vh;
         font-size: 1vw;
         background-color: #0084fff1;
         border-radius: 999px;
         border: none;
        }

        #lang:hover {
         background-color: #003e79f1;
        }

        [dir="rtl"] .frame {
         text-align: right;
         padding: 0 5vw;
        }

        [dir="rtl"] .text, 
        [dir="rtl"] .choice {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
         word-wrap: break-word;
        }

        [dir="rtl"] .okno {
         right: 50%;
         left: auto;
         transform: translateX(50%);
        }

        #startButton {
         padding: 10px 20px; 
         font-weight: bold; 
         cursor: pointer;  
         width: 25vw;
         height: 12vh;
         font-size: 2vw;
         background-color: #e0e270f1;
         border-radius: 999px;
         border: none;
        }

        .tex {
         display: flex;
         color: rgb(245, 245, 85);
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
         font-size: 3vw;
         margin-bottom: 8vh;
         flex-direction: column;
         justify-content: flex-start;
         height: 15vh;
        }

        .tex-2 {
         color: rgb(245, 245, 245);
         font-size: 2vw;
         margin-bottom: 8vh;
        }

        #startButton:hover {
         background-color: #e0e27083;  
        }     
        
        #boy {
         background: rgb(0, 111, 214);
         width: 25vw;
         height: 12vh;    
         border-radius: 999px;   
         font-size: 2vw;     
         color: white; 
        }

        #girl { 
         background: rgb(255, 107, 107);
         color: rgb(255, 255, 255);
         width: 25vw;
         height: 12vh;  
         border-radius: 999px; 
         font-size: 2vw;          
        }

        h2 {
         font-size: 2vw;
         color: white;
        }

        #boy:hover {
         background-color: rgba(0, 111, 214, 0.548);  
        }    

        #girl:hover {
         background-color: rgba(255, 107, 107, 0.623); 
        }    

        .text {
         color: white;
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
         font-size: 3vw;
         margin-bottom: 8vh;

        }

        .choice {
         color: white;
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
         font-size: 1.5vw;

        }

        .frame {
         display: flex;
         position: relative;
         flex-direction: column;
         justify-content: space-between;
         min-height: 100vh;
        }

        .knopka {

         background: rgb(245, 245, 85);
         width: 20vw;
         height: 30vh;  
         bottom: 5vh;
         margin: 2vw;
         border-radius: 20%; 
         font-size: 1.4vw;  
        }

        .knopka:hover {
         background: rgb(182, 182, 60);;
         cursor: pointer;
        }

        .okno {
          position: absolute;
          bottom: 2vh;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
        }

        #frame-1 { 
            background-image: url(https://foni.papik.pro/uploads/posts/2024-10/foni-papik-pro-aj05-p-kartinki-nochnoe-nebo-na-prozrachnom-fone-12.png); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-2 { 
            background-image: url(https://cdn.pixabay.com/photo/2024/09/09/11/09/fall-9034528_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-3 { 
            background-image: url(https://cdn.pixabay.com/photo/2024/09/09/11/09/fall-9034528_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-4 { 
            width: 100vw;
            height: 100vh;
            background-image: url(https://cdn.pixabay.com/photo/2024/03/02/12/02/ai-generated-8608464_1280.jpg); 
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-5 { 
            background-image: url(https://cdn.pixabay.com/photo/2023/02/01/08/01/fairytale-forest-7759927_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-6 { 
            background-image: url(https://cdn.pixabay.com/photo/2021/08/18/07/45/castle-6554907_960_720.jpg);
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        #frame-7 { 
            background-image: url('images/castle_gate.png'); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-8-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/01/24/09/02/ai-generated-8529089_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-9-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2023/06/14/18/22/ai-generated-8063802_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-10-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/01/13/19/14/ai-generated-8506431_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-11-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/05/07/06/13/ai-generated-8744900_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-12-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/05/07/06/13/ai-generated-8744900_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-13-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: repeat;
            background-position: center;
            margin: 0;
        }

        #frame-14-strength { 
            background-color: #000000;
            background-image: url(https://cdn.pixabay.com/photo/2024/06/21/04/17/ai-generated-8843438_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-15-strength { 
            background-image: url(https://cdn.pixabay.com/photo/2024/08/22/22/03/bed-8990246_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-8-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/03/05/05/24/ai-generated-8613746_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-9-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/05/12/18/34/ai-generated-8757463_960_720.png); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-10-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2024/07/03/14/52/tunnel-8870193_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            color: white;
            text-shadow: 
            0 0 1px black,
            0 0 2px black,
            0 0 4px black,
            0 0 8px rgba(0,0,0,0.7);
            -webkit-text-stroke: 0.7px rgba(0,0,0,0.5);
            filter: blur(20%);
        }

        #frame-11-agility { 
            background-image: url(images/apteka.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-12-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2014/01/18/10/14/vaulted-cellar-247391_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-13-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2014/01/18/10/14/vaulted-cellar-247391_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-14-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2017/01/14/13/59/castelmezzano-1979546_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-15-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2014/01/18/10/14/vaulted-cellar-247391_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-16-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2018/01/21/18/03/theater-3097190_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }


        #frame-17-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2013/10/21/14/09/domaine-de-cheverny-loire-199010_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-18-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2018/01/21/18/03/theater-3097190_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-19-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2018/01/21/18/03/theater-3097190_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-20-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2019/12/19/09/07/deco-4705709_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-21-agility { 
            background-image: url(https://cdn.pixabay.com/photo/2016/12/27/20/54/russia-1934884_1280.jpg); 
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }

        #frame-8-intelligence {
           background-image: url(https://cdn.pixabay.com/photo/2018/01/31/07/36/secret-3120483_1280.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-9-intelligence {
           background-image: url(https://images.unsplash.com/photo-1638368888048-b4ee377101a9?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-10-intelligence {
           background-image: url(https://images.unsplash.com/photo-1607066507041-33fc090b5a7d?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-11-intelligence {
           background-image: url(https://images.unsplash.com/photo-1728755833852-2c138c84cfb1?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-12-intelligence {
           background-image: url(https://images.unsplash.com/photo-1617322715758-101c156a51cf?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-13-intelligence {
           background-image: url(https://cdn.pixabay.com/photo/2017/12/08/20/18/steampunk-3006650_1280.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-14-intelligence {
           background-image: url(https://cdn.pixabay.com/photo/2022/08/15/05/23/sun-rays-7387131_1280.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-15-intelligence {
           background-image: url(https://images.unsplash.com/photo-1662912031811-e9f6ff574498?q=80&w=977&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-16-intelligence {
           background-image: url(https://images.stockcake.com/public/0/3/d/03d09025-02da-4151-95a3-3b1fe897b054_large/surreal-clock-tunnel-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-17-intelligence {
           background-image: url(https://images.stockcake.com/public/6/d/1/6d1afc4c-0857-48ee-9146-82df598eeb9e_large/shattered-time-suspended-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-18-intelligence {
           background-image: url(https://images.stockcake.com/public/d/9/a/d9acb544-16d4-4c60-b817-ad1440b89262_large/time-breaking-apart-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-19-intelligence {
           background-image: url(https://images.stockcake.com/public/3/9/f/39fef8f8-e0ac-4325-ac63-6dcf6ea6e7f0_large/magic-within-hands-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-20-intelligence {
           background-image: url(https://cdn.pixabay.com/photo/2016/11/06/23/51/buildings-1804481_1280.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-21-intelligence {
           background-image: url(https://cdn.pixabay.com/photo/2023/08/01/08/21/waterfall-8162449_1280.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-22-intelligence {
           background-image: url(https://cdn.pixabay.com/photo/2023/08/01/08/21/waterfall-8162449_1280.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-23-intelligence {
           background-image: url(https://images.stockcake.com/public/8/a/3/8a36c816-4744-4c87-9ec5-e506d32c5ea9_large/divergent-paths-ahead-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-24-intelligence {
           background-image: url(https://cdn.pixabay.com/photo/2023/08/01/08/21/waterfall-8162449_1280.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-25-intelligence {
           background-image: url(https://images.unsplash.com/photo-1572851899654-7d97e5ec0107?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-26-intelligence {
           background-image: url(https://images.stockcake.com/public/d/c/8/dc8fee55-938b-42b6-9781-a35d25b79657_large/forgotten-gothic-gateway-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-27-intelligence {
           background-image: url(https://images.stockcake.com/public/b/5/9/b599b2d9-8d7d-493a-a731-539ec0505782_large/nighttime-glowing-field-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-28-intelligence {
           background-image: url(https://images.stockcake.com/public/b/5/9/b599b2d9-8d7d-493a-a731-539ec0505782_large/nighttime-glowing-field-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-29-intelligence {
           background-image: url(https://images.stockcake.com/public/b/5/9/b599b2d9-8d7d-493a-a731-539ec0505782_large/nighttime-glowing-field-stockcake.jpg); 
           width: 100vw;
           height: 100vh;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: center;
           margin: 0;
        } 

        #frame-win {
            background-image: url(https://cdn.pixabay.com/photo/2024/09/02/11/03/ai-generated-9016484_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-win-2 {
            background-image: url(https://cdn.pixabay.com/photo/2024/04/03/08/04/tree-8672380_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-win-3 {
            background-image: url(https://cdn.pixabay.com/photo/2020/05/24/15/44/cube-5214804_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-win-4 {
            background-image: url(https://cdn.pixabay.com/photo/2020/05/24/15/44/cube-5214804_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-win-5 {
            background-image: url(https://images.stockcake.com/public/c/3/8/c389f718-bac7-4a38-bf16-1c5711edc7a2_large/cosmic-clock-vortex-stockcake.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-win-6 {
            background-image: url(https://images.stockcake.com/public/c/3/8/c389f718-bac7-4a38-bf16-1c5711edc7a2_large/cosmic-clock-vortex-stockcake.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-win-7 {
            background-image: url(https://images.stockcake.com/public/c/3/8/c389f718-bac7-4a38-bf16-1c5711edc7a2_large/cosmic-clock-vortex-stockcake.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-win-8 {
            background-image: url(https://images.stockcake.com/public/e/b/4/eb496f76-ce84-41d5-9a0f-d03eb6373d39_large/magical-knowledge-tree-stockcake.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-gameover-1 {
            background-image: url(https://cdn.pixabay.com/photo/2018/05/17/11/20/end-3408301_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }

        #frame-gameover-2 {
            background-image: url(https://images.unsplash.com/photo-1563824460668-8d28331a877f?q=80&w=1937&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        }      
        
        #frame-gameover-3 {
            background-image: url(https://cdn.pixabay.com/photo/2016/03/25/13/21/blue-1278829_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        } 

        #frame-gameover-4 {
            background-image: url(https://cdn.pixabay.com/photo/2016/03/25/13/21/blue-1278829_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        } 

        #frame-gameover-5 {
            background-image: url(https://cdn.pixabay.com/photo/2016/03/25/13/21/blue-1278829_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        } 

        #frame-gameover-6 {
            background-image: url(https://cdn.pixabay.com/photo/2016/03/25/13/21/blue-1278829_1280.jpg);
            background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;  
        } 

        .lang-knopka {
         font-weight: bold; 
         cursor: pointer;  
         width: 4vw;
         height: 3vh;
         font-size: 0.7vw;
         background-color: #2997fff1;
         border-radius: 999px;
         border: none;
         margin-bottom: 0.6vw;
         margin-top: 0.6vh;
        }

        .lang-knopka:hover {
         background-color: #195e9ef1;
        }
        
        .cont {
         background: rgb(100, 200, 100);
         width: 20vw;
         height: 10vh;
         bottom: 5vh;
         margin: 2vw;
         border-radius: 20px;
         font-size: 1.4vw;
         color: white;
        }

        .cont:hover {
            background-color: rgb(57, 119, 57);;
        }

        #titri {
         background-image: url(https://cdn.pixabay.com/photo/2020/12/23/14/41/forest-5855196_1280.jpg);
         width: 100vw;
         height: 100vh;
         background-size: 100% 100%;
         background-repeat: no-repeat;
         background-position: center;
         margin: 0;
         display: flex;
         position: relative;
         flex-direction: column;
         justify-content: space-between;
         min-height: 100vh;
         font-size: 1vw;   
        }

        .titri {
         color: aliceblue;
         text-shadow: 3px 3px 5px rgba(0, 0, 0, 2);
        }

        .spacer {
         height: 30%;
        }

        #frame-1 .pod-text,
        #frame-2 .pod-text,
        #frame-3 .pod-text,
        #frame-4 .pod-text,
        #frame-5 .pod-text,
        #frame-6 .pod-text,
        #frame-7 .pod-text {
          display: none;
        }

        #frame-1 .knopka:hover .pod-text,
        #frame-2 .knopka:hover .pod-text,
        #frame-3 .knopka:hover .pod-text,
        #frame-4 .knopka:hover .pod-text,
        #frame-5 .knopka:hover .pod-text,
        #frame-6 .knopka:hover .pod-text,
        #frame-7 .knopka:hover .pod-text {
          display: block;
        }

        .pod-text {
            color: #290000;
         font-size: 1.1vw;  
        }
